.headerText {
  font-size: 3em;
  font-weight: 600;
  color: #ffffff;
  font-family: monospace;
  padding-top: 20px;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: #ffffff;
    font-family: monospace;
    text-align: left;
    margin-left: 10px;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    color: #ffffff;
    font-family: monospace;
    text-align: left;
}

p {
    font-size: 1.5em;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    margin-left: 10px;
}
