.headerText {
  font-size: 3em;
  font-weight: 600;
  color: #000000;
  font-family: monospace;
  padding-top: 20px;
}

.resume h1 {
  font-size: 2.5em;
  color: rgb(0, 167, 167);
  font-family: monospace;
  text-align: left;
  margin-left: 10px;
  font-style: italic;
}

.resume h2 {
  font-size: 1.4em;
  color: #000000;
  text-align: left;
  font-weight: 350;
}

.resume h3 {
  font-size: 1.2em;
  color: #000000;
  font-family: monospace;
  text-align: left;
  margin-left: 10px;
}

p {
  font-size: 1em;
  color: #000000;
  text-align: left;
  margin-left: 10px;
}

ul {
  color: #000000;
}

li {
  font-size: 1em;
  color: #000000;
  text-align: left;
  margin-left: 10px;
}

.expandIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.plus-minus {
    position: relative;
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease-in-out;
}

.plus-minus::before,
.plus-minus::after {
    content: "";
    position: absolute;
    background-color: black;
    transition: transform 0.3s ease-in-out;
}

/* Horizontal bar */
.plus-minus::before {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
}

/* Vertical bar */
.plus-minus::after {
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
}

.plus-minus.open {
    transform: rotate(180deg);
}

.plus-minus.open::after {
    transform: scaleY(0);
}

.accordionTitle {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: row;
  align-content: center;
}

.resume {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 600px) {
  .resume {
    width: 95%;
  }
}

.accordionContent {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}

.accordionContent.open {
  grid-template-rows: 1fr;
}

.accordionContent > div {
  overflow: hidden;
}
