.App {
  text-align: center;
  background-color: #000000;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 3em;
  font-weight: 600;
  color: #363636;
  font-family: monospace;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 220px;
}